* {
  margin: 0; padding: 0;
}
body { font-size: 100%;}

.accordion_list{margin:0;padding:0;}

.accordion {width:480px;    margin: 0px auto;
  	line-height: 38px;	border-left: 1px solid #e1e1e1;
	backguound: #fff;	border-right: 1px solid #e1e1e1;
}
.accordion a{display:block;  font-size: 16px;height:30px;line-height:30px;padding-left:30px;color:#252525;background:#fff;text-decoration:none;border-bottom:1px solid #e1e1e1;
}

.accordion h1, h2, h3, h4 {
  cursor: pointer;
}
.accordion h2, h3, h4 {
  font-family: "News Cycle",arial;
}
.accordion h1 {
  padding: 5px 20px;
  background-color: #333;
  font-family: 黑体;
  font-size: 24px;
  font-weight: normal;
  color: #1abc9c;
}
.accordion h1:hover {
  color: #4afcdc;
}

.accordion h1:not(:last-of-type) {
  border-bottom: 1px dotted #1abc9c;
}

.accordion h2 {
  padding: 5px 25px;
  background-color: #1abc9c;
  font-size: 22px;
  color: #333;border-bottom:1px solid #209b83;
}
.accordion h2:hover {
  background-color: #09ab8b;
}
.accordion h3 {
  padding: 5px 30px;
  background-color: #b94152;
  font-size: 18px;
  color: #ddd; 
}
.accordion h3:hover {
  background-color: #a93142;
}
.accordion h4 {
  padding: 5px 30px;
  background-color: #ffc25a;
  font-size: 18px;
  color: #b94152;
}
.accordion h4:hover {
  background-color: #e0b040;
}

.accordion .opened-for-codepen {
  display: block;
}


